header {
    background: white;
    margin: 1rem 2.5rem;
    padding: 0.8rem;
    border-radius: 24px;
    display: grid;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    z-index: 99;
}

a {
    text-decoration: none;
}

nav a:first-child {
    margin-right: auto;
    font-size: 1.3rem;
}

nav a:first-child span {
    background: var(--naranja);
    color: white;
    border-radius: 12px;
    height: 1.5rem;
    margin-right: 0.3rem;
    padding: 0.4rem;
    padding-inline: 0.6rem;
    margin-left: -1rem;
}

nav a:nth-child(2):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover {
    text-decoration: underline;
    text-decoration-color: var(--naranja);
    text-decoration-thickness: 2px;
}

nav a:last-child {
    margin-left: auto;
    background: var(--naranja);
    border-radius: 16px;
    color: white;
}



section {
    display: grid;
    grid-template-columns: 55% 45%;
    margin-bottom: 5rem;
}

 h1 {
    font-size: 4rem;
    margin-bottom: -1rem;
}

 h2 {
    font-size: 1rem;
    color: lightslategray;
}

 details {
    font-size: small;
    color: black;
}

 h3 {
    text-align: left;
    margin-bottom: -1rem;
    font-size: xx-large;
    font-family: 'Capi';
    margin-left: 5rem;
}

 section article:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 section article:first-of-type>div {
    text-align: left;
    margin-left: 3rem;
    margin-top: 2rem;
    background: whitesmoke;
    box-shadow: 2px 2px 20px hsla(209, 11%, 37%, 0.441);
    border-radius: 16px;
    padding: 1rem;
}

 section article:first-of-type>div:hover {
    box-shadow: 2px 2px 50px var(--naranja);
    transition: 0.2s ease all;
    cursor: pointer;
}

 section article:first-of-type>div .titulin {
    margin-bottom: -1rem;
}

 .titulin {
    display: flex;
    align-items: center;
}

 section article:last-of-type {
    min-width: 20vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: -25rem;

}

 section article:last-of-type>div {
    background: lightgreen;
    min-width: 30vw;
    border-radius: 400px 400px 0 0;
    min-height: 100vh;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 10px 10px lightgreen;
}

 section article:last-of-type>div figure {
    margin-top: 5rem;
}

 h4 {
    font-size: medium;
    font-family: 'Poppins';
    margin-left: 0.5rem;
}

 h5 {
    text-align: left;
    font-size: medium;
    font-weight: normal;
    font-family: 'Fraunces';
    color: rgb(74, 72, 72);
}