:root {
    --primario: #ffffff;
    --secundario: #f17223;
    --grid: hsla(0, 1%, 81%, 0.531);
}

.orelega-one-regular {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background: var(--primario);
    box-sizing: border-box;
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, var(--grid) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 1px, transparent 1px);
    transition: all 0.3s ease;
}

body:has(main[id="main"]) {
    overflow-y: hidden;
}

body:has(main[id="mainQueSon"]) {
    overflow-y: scroll;
}

header {
    background: var(--primario);
    margin: 1rem 2.5rem;
    padding: 0.8rem;
    border-radius: 24px;
    display: grid;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    z-index: 99;
}

a {
    text-decoration: none;
}

nav a:first-child {
    margin-right: auto;
    font-size: 1.3rem;
}

nav a:first-child span {
    background: var(--secundario);
    color: var(--primario);
    border-radius: 12px;
    height: 1.5rem;
    margin-right: 0.3rem;
    padding: 0.4rem;
    padding-inline: 0.6rem;
    margin-left: -1rem;
}

nav a:nth-child(2):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover {
    text-decoration: underline;
    text-decoration-color: var(--secundario);
    text-decoration-thickness: 2px;
}

nav a:last-child {
    margin-left: auto;
    background: var(--secundario);
    border-radius: 16px;
    color: var(--primario);
}

main {
    margin-top: 2.2rem;
    text-align: center;
}

.temaPrincipal {
    display: none;
}

h1 {
    margin: 1rem auto;
    font-family: 'Orelega One';
    font-size: 3rem;
    text-align: center;
}

img {
    margin-left: 10rem;
    width: 50%;
}

section:first-of-type {
    display: flex;
    margin-inline: 1vw;
    justify-content: center;
    justify-content: space-evenly;
}

section:first-of-type article {
    border-radius: 16px;
    padding: 1rem;
    background: var(--primario);
    border: 2px solid var(--primario);
    box-shadow: 5px 5px 10px hsla(210, 14%, 53%, 0.254);
}

section:first-of-type article:hover {
    border: 2px solid var(--secundario);
    cursor: default;
}

section:first-of-type article div {
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
}

section:first-of-type article div figure {
    flex-basis: 20%;
    margin: 0;
    margin-right: 0.5rem;
}

section:first-of-type article div figure svg {
    border-radius: 6px;
    padding: 0.2rem;
}

section:first-of-type article:nth-of-type(1) div figure svg {
    background: lightcoral;
}

section:first-of-type article:nth-of-type(2) div figure svg {
    background: lightgreen;
}

section:first-of-type article:nth-of-type(3) div figure svg {
    background: lightskyblue;
}

section:first-of-type article div h3 {
    flex-basis: 80%;
    text-align: left;
    font-family: 'Poppins';
    width: 26ch;
}

section:first-of-type article p {
    font-family: 'Fraunces';
    margin-left: 1rem;
    color: rgb(40, 47, 54);
    width: 32ch;
    text-align: left;
}

section:nth-of-type(2) {
    margin-top: 5rem;
    display: flex;
}

section:nth-of-type(2) article {
    flex-basis: 50%;
}

section:nth-of-type(2) article h2,
section:nth-of-type(2) article p {
    text-align: left;
    margin-left: 3rem;
    font-size: large;
}

section:nth-of-type(2) article h2 {
    font-size: xx-large;
}

section:nth-of-type(2) article p {
    width: 48ch;
    color: rgb(75, 81, 87);
    font-size: larger;
}

section:nth-of-type(2) article+figure {
    flex-basis: 50%;
}

.containerArticle {
    display: flex;
}

.containerArticle {
    display: flex;
    gap: 1rem;
    margin-top: -2rem;
}

.containerArticle div * {
    margin-block: 0.25rem;
    font-size: larger;
}

.containerArticle div h3,
.containerArticle div p,
.containerArticle div figure {
    text-align: left;
}

.containerArticle div h3 {
    margin-left: 3rem;
    margin-bottom: 0.8rem;
}

.containerArticle div figure {
    margin-left: 3rem;
    margin-top: 4rem;
}

.containerArticle div {
    width: 25vw;
}

.containerArticle div p {
    max-width: 28ch;
}

section:nth-of-type(2) p {
    width: 32ch;
}

section:nth-of-type(2) article+figure {
    filter: drop-shadow(10px 10px 10px black);
}

.bocadillo-redondo {
    position: absolute;
    height: 150px;
    width: 300px;
    background: var(--primario);
    border-radius: 50%;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.288);
    bottom: 20%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secundario);
}

.bocadillo-redondo:before {
    border: 25px solid var(--primario);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -44px;
    right: 75px;
    transform: rotate(-8deg);
}