h1 {
    margin-bottom: 2rem;
}

section:first-of-type {
    display: flex;
    margin-inline: 1vw;
    justify-content: center;
    justify-content: space-evenly;
}

section:first-of-type article {
    border-radius: 16px;
    padding: 1rem;
    background: white;
    border: 2px solid white;
    box-shadow: 5px 5px 10px hsla(210, 14%, 53%, 0.254);
}

section:first-of-type article:hover {
    border: 2px solid var(--naranja);
    cursor: default;
}

section:first-of-type article div {
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
}

section:first-of-type article div figure {
    flex-basis: 20%;
    margin: 0;
    margin-right: 0.5rem;
}

section:first-of-type article div figure svg {
    border-radius: 6px;
    padding: 0.2rem;
}

section:first-of-type article:nth-of-type(1) div figure svg {
    background: lightcoral;
}

section:first-of-type article:nth-of-type(2) div figure svg {
    background: lightgreen;
}
